<div id="shoppingCard" class="flowItem pizzaFlowStep4">
    
    <h2>Shopping Card</h2>
    <div>
        <div class="itemsWrapper">
            <!-- render shopping card -->
        </div>            
        <div class="amount-wrapper">
            Amount <a href="#" id="shoppingcard-total"><!-- render shopping card total --></a> usd
        </div>
        
        <div class="address-wrapper">
            Delivered to: <span id="shoppingcard-address"><!-- address --></span>
        </div>
        <div class="ctaWrapper">  
            <!-- Event click -->
            <button id="userPaymentConfirmationButton" class="cta green">Confirm payment</button>
        </div>
    </div>

    </div>
</div>
<div id="shoppingcard-payment" class="flowItem pizzaFlowStep5"  style="display: none;">
    <p>ShoppingCard successfuly payed</p>
    <a href="#" alt="Stripe paymentent receipt"></a>
</div>
