<h1>Wellcome</h1>
<section>
    <h2>Pizza Delivery Service</h2>

    <div class="blurb">
        <p class="rotate3">{head.description}</p>
        <ul>
            <h3 class="rotate3">Only take some small steps to eat Pizza</h3>
            <li class="pizzaFlowStep1"><a href="/account/create" class="speedLink">Signup</a> if not already have an account</li>
            <li class="pizzaFlowStep1"><a href="/session/create" class="speedLink">Login</a> to your account</li>
            <li class="pizzaFlowStep2"><a href="/menu" class="speedLink">Fix delivery address</a></li>
            <li class="pizzaFlowStep3"><a href="/menu" class="speedLink">Add prefered Pizza</a> to your shoppingCard</li>
            <li class="pizzaFlowStep4"><span>Pay your shoppingCard</span> and that's it</li>
            <li class="pizzaFlowStep5"><span>Receive Payment notification</span> email before pizza</li>
            <li class="pizzaFlowStep6">Finally as expected <span>receive pizza at chosen address</span></li>
        </ol>
    </div>

    <div class="ctaWrapper">
        <a class="cta green" href="account/create">Get Started</a>
        <a class="cta blue" href="session/create">Login</a>
    </div>
</section>